/* GENERAL STYLES */
* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  background-image: url(assets/imgs/Capture.PNG);
  background-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  --p-color: #888;
  --main-color: #212121;
  --h1-color: #fff;
  --span-color: #104cba;
}

p {
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  color: var(--h1-color);
  font-size: 55px;
  line-height: 1.2;
  word-spacing: 5px;
  margin: 0 0 15px;
}

h3 {
  color: var(--span-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

span {
  color: var(--span-color);
}

/* HEADER STYLES */

header {
  background-color: #2d394b;
  > div.responsiveItem {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    height: 60px;

    > button {
      border: none;
      background: none;
      margin-left: 6px;
    }
  }
}

/* ----------- */
/* INDEX PAGE */

.mainContainer {
  > .mainContent {
    display: flex;
    width: 1310px;
    justify-content: space-evenly;

    .leftPage {
      > div > img {
        margin-left: 20px;
        margin-top: -35px;
        width: 556px;
        border-radius: 10px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.85);
      }
    }

    .homeContent {
      margin-left: 30px;
      .animatedStack {
        height: 40px;
        margin: 25px 0;
        overflow: hidden;
        position: relative;
        text-align: center;
      }
      .medias {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        margin-bottom: 1rem;
        > a {
          margin-left: 15px;
        }
        > a :hover {
          fill: var(--span-color);
        }
      }

      .homeBtn {
        display: flex;
        justify-content: center;
        padding: 16px;
        text-align: center;
        > a {
          border: 2px solid #104cba;
          background-color: #104cba;
          color: white;
          border-radius: 4px;
          font-size: 15px;
          letter-spacing: 1px;
          margin-right: 10px;
          padding: 10px;
          text-transform: capitalize;
        }
      }
    }
  }
}

/* PORTFOLIO PAGE */
/* MAIN STYLES */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .menu {
    padding: 52px 0;
    display: flex;
    justify-content: flex-end;
    > nav {
      background-color: #212121;
      height: 500px;
      display: flex;
      border-radius: 10px 0 0 10px;
      justify-content: center;
      align-items: center;
      padding: 50px 17px;

      ul {
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        > li > a > span > i > .menuIcon :hover {
          fill: #111;
        }
      }
    }
  }

  section.mainContainer {
    padding: 60px 15px 70px 15px;
    width: 1330px;
    height: 470px;
    background-color: var(--main-color);
    border-radius: 10px;

    .portfolioBtns {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
    }

    .projects {
      Ul {
        display: flex;
        justify-content: space-evenly;
        > li {
          width: 300px;
          > a {
            > img {
              width: 300px;
              border-radius: 10px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
            }
            > .resume {
              background: linear-gradient(to right bottom, #000, #1d1d1d);
              height: 296px;
              position: absolute;
              width: 300px;
              top: 50.3%;
              padding: 13px 0;
              border-radius: 10px;
              opacity: 0;
              z-index: 2;

              > h3 {
                color: #fff;
                opacity: 1;
                color: #fff;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: capitalize;
                font-size: 22px;
                margin: 110px 0 25px 0;
              }

              > span {
                color: #fff;
                padding: 10px 5px;
                background-color: var(--span-color);
                border-radius: 100px;
                font-size: 14px;
                padding: 8px 20px;
                transition: all 0.5s ease 0s;
                font-weight: bold;
              }
            }
            .resume:hover {
              /* padding: 141px 0; */
              opacity: 0.8;
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }

  .setting {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0 5px 5px 0;
    margin-top: -450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* MOTIONS STYLES */

/* -------------- */
.loader {
  width: 200px;
  height: 5px;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 42%;
}
.inner_loader {
  width: 60%;
  height: 100%;
  background: rgb(13, 11, 127);
  border-radius: 50px;
  animation: moveLeftRight 10s ease-in-out infinite;
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(calc(-100% + 10px));
  }

  50% {
    transform: translateX(calc(200px - 10px));
  }

  100% {
    transform: translateX(calc(-100% + 10px));
  }
}

/* -------------- */
button {
  position: relative;
  margin: 10px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: rgb(13, 11, 127);
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  > span {
    color: white;
  }
}

.btnAll {
  position: relative;
  margin: 10px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: rgb(13, 11, 127) solid 2px;
  background-color: #212121;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

/* -------------- */
